{% extends "base.html" %}
 {% block page_header %}
   <div class='jumbotron'>
     <h1 class="display-3">My project!</h1>
     <p class="lead">If you are reading this text! It means that you came to my site for a reason.
I use this project as part of my portfolio. The essence of this project.
In it, the user can register and create topics and make entries in these topics by the type of blog.
Simple registration is used here. And the protection system is lame.
But since it is a training project, I decide not to bother too much about it.
We can say this is a simplified version of a personal diary.
This is using Bootstrap  for styling.
There is a limitation so that the user can only see their topics and posts.
In general terms, this is all that I can say about my project.</p>
     <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
          role="button">Register &raquo;</a>
    </div>
 {% endblock page_header %}

